:root {
  --primary-color: #000000;
  --color-primary: #495679;

  --color-light: #85a2b2;
  --white-color: #ffffff;
  --color-yellow: #fccc09;
  --color-orange: #f0810d;
  --color-gold: #f5c518;

  --bg-table-stripe: #f6f6f5;
  --b-table: #e3e3e2;
  --caption: #242423;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
  --box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  /* color: var(--primary-color); */
  line-height: 1.7;
  /* overflow: hidden; */
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 600;
  color: var(--color-bg-1);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
  color: var(--color-primary);
}

h3 {
  font-size: 2rem;
  color: var(--color-primary);
}

h4 {
  font-size: 1rem;
  /* color: var(--color-bg-1); */
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-orange);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.short__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ======== Nav section starts ======== */
header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 70%), url(../images/header-bg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  position: relative;
}

nav {
  height: 7rem;
  width: 100%;
  background: var(--color-bg-1);
  display: grid;
  place-items: center;
  position: relative;
  z-index: 9;
  transition: var(--transition);
}

nav.window-scrolled {
  position: fixed;
  background: var(--color-bg-1);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  height: 7rem;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.nav__toggle-btn {
  display: none;
}

.nav__logo {
  width: 10rem;
  color: var(--white-color);
}

.nav__links {
  display: flex;
  gap: 3rem;
}

.nav__links li a {
  color: var(--white-color);
  transition: var(--transition);
  font-weight: bold;
}

.nav__links li a:hover {
  color: var(--color-orange);
}

.nav__links li:nth-child(5) a {
  display: none;
}

.nav__action-btn {
  display: flex;
  gap: 1rem;
}

.nav__action-btn li a {
  background-color: var(--color-orange);
  padding: 0.8rem 2rem;
  color: var(--white-color);
  transition: var(--transition);
}

.nav__action-btn li a:hover {
  background-color: var(--color-primary);
  color: var(--white-color);
}
/* ======== Nav section ends ======== */

/* ======== Banner section starts ======== */
.banner__section {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 60vw;
  max-width: 100%;
}

.banner__content small i {
  color: var(--color-gold);
}

.banner__content small span,
.banner__content h1,
.banner__content p {
  color: var(--white-color);
}

.banner__content p {
  margin-top: 1rem;
}

.action__calls {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
}

.action__call-1 a {
  background-color: var(--white-color);
  padding: 0.8rem 1rem;
  color: var(--color-primary);
  transition: var(--transition);
}

.action__call-1 a:hover {
  background-color: var(--color-orange);
  color: var(--white-color);
}

.action__call-2 a {
  background-color: var(--color-orange);
  padding: 0.8rem 1rem;
  color: var(--white-color);
  transition: var(--transition);
}

.action__call-2 a:hover {
  background-color: var(--white-color);
  color: var(--color-primary);
}

/* ======== Banner section ends ======== */

/* ======== About us home page starts ======== */
.about_section-home {
  margin-top: 7rem;
}

.about__content-home {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
}

.about__content-2 p {
  margin-top: 1rem;
}

/* ======== About us home page ends ======== */

/* ======== Our services home page starts ======== */
.services__section-home {
  margin-top: 7rem;
}

.services__container-home h3 {
  text-align: center;
}

.services__content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.services__cards {
  display: flex;
  flex-direction: column;
}

.services__cards h4 {
  margin: 1rem 0;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.services__btn a {
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  color: var(--white-color);
  transition: var(--transition);
}

.services__btn a:hover {
  background-color: var(--color-orange);
}

/* ======== Our services home page ends ======== */

/* ======== Why choose us home page section starts ======= */
/* ========== Commitment section starts ========= */
.commit__section {
  margin-top: 7rem;
}

.commit__content {
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;
  align-items: center;
}

.commit__left h4 {
  color: var(--color-primary);
}

.commit__left p {
  margin-top: 1rem;
}

.commit__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  position: relative;
  height: 100%;
}

.commit__card {
  background-color: var(--color-primary);
  padding: 2rem;
  box-shadow: var(--box-shadow);
}

.commit__card h4 {
  color: var(--color-orange);
  /* text-align: center; */
}

.commit__card p {
  color: var(--white-color);
}

.commit__ab {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.commit__ab h4 {
  font-size: 0.8rem;
  color: var(--red-color);
}

.proposal__container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.278), rgba(0, 0, 0, 0.415)), url("../images/world-map.png");
  height: 100%;
  width: 100%;
  /* background-repeat: no-repeat; */
  background-size: contain;
  padding: 5rem 0;
  margin-top: 5rem;
  /* object-fit: contain; */
  background-position: 50% 50%;
}

.proposal__conts h3 {
  text-align: center;
  color: var(--white-color);
}

.int__serve {
  margin: 1rem 0 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.int__card {
  background-color: var(--white-color);
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow);
}

.proposal__content {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  text-align: center;
  margin: auto;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}

.proposal__content h4 {
  color: var(--white-color);
}

.proposal__content a {
  background-color: var(--white-color);
  padding: 0.5rem 1.5rem;
  color: var(--black-color);
  /* border-radius: 8px; */
  border: 2px solid var(--white-color);
  transition: var(--transition);
}

.proposal__content a:hover {
  background-color: transparent;
  color: var(--white-color);
}

/* ======== Why choose us home page section ends ======= */

/* ======== Core values home page section starts ======= */
.core__section-home {
  margin-top: 7rem;
}

.core__content {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
  align-items: center;
}

.core__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 0.5rem;
  margin-top: 2rem;
}

.core__card p span {
  font-weight: bold;
}

/* ======== Core values home page section ends ======= */

/* ======== Associated home page section starts ======= */

.associated__section-home {
  margin-top: 7rem;
}

.associated__container-home h3 {
  text-align: center;
}

.associated__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.associated__card {
  background-color: var(--color-primary);
  color: var(--white-color);
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow);
}

.associated__card span p {
  font-weight: bold;
  color: var(--color-orange);
}

/* ======== Associated home page section ends ======= */

/* ========= Projects-Img home page section starts ========  */

.project-img__section {
  margin-top: 7rem;
}

.project-img__container {
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 2rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* float: left; */
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 4/3;
  object-fit: cover;
}

.swiper-slide source {
  aspect-ratio: 4/3;
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: bolder;
  background-color: var(--white-color);
}

.swiper-pagination {
  /* position: absolute;
  max-width: 20%;
  left: 50%;
  transform: translateX(-50%); */
}

/* ========= Projects-Img home page section ends ========  */

/* ========== Footer section starts ========= */
.footer__section {
  margin-top: 7rem;
  padding-top: 5rem;
  background-color: var(--color-primary);
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer__logo img {
  width: 8rem;
}

.footer__logo p {
  margin-top: 1rem;
}

.footer__stat-1 h4,
.footer__stat-2 h4,
.footer__links h4,
.footer__contact h4 {
  color: var(--color-orange);
}

.footer__logo p,
.footer__stat-1 p,
.footer__stat-2 p,
.footer__links ul li a,
.footer__contact p {
  color: var(--white-color);
  transition: var(--transition);
}

.footer__links ul li a:hover {
  color: var(--color-orange);
}

.footer__stat-2,
.footer__links ul li,
.footer__map {
  margin-top: 1rem;
}

.footer__copyright {
  border-top: var(--off-white-color) 1px solid;
  padding: 3rem 0;
  margin-top: 3rem;
  text-align: center;
}

.footer__copyright span {
  color: var(--white-color);
}

.footer__copyright span a {
  margin-left: 5px;
  color: var(--white-color);
  transition: var(--transition);
}

.footer__copyright span a:hover {
  color: var(--red-color);
}

/* ========== Footer section ends ========= */

/* ========== About page section starts ======== */
.header__about {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.593) 40%, rgba(0, 0, 0, 0.56) 70%), url(../images/about-banner.jpg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: bottom;
  position: relative;
}

.about-banner__section {
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
  width: 60vw;
  max-width: 100%;
}

.about-banner__content i {
  color: var(--color-gold);
}

.about-banner__content span,
.about-banner__content h2,
.about-banner__content p {
  color: var(--white-color);
}

.intro__section-about {
  margin-top: 7rem;
}

.intro__content-about p span {
  font-weight: bolder;
  font-size: 2rem;
}

/* ========== About page section ends ========== */

/* ========== Services page section starts ========== */
.header__services {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.593) 40%, rgba(0, 0, 0, 0.56) 70%), url(../images/services-bg.jpg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: bottom;
  position: relative;
}

.services__section {
  margin-top: 7rem;
}

.services__content-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.services__cards-2 h4 {
  margin: 1rem 0 0.5rem 0;
}

/* ========== Services page section ends ========== */

/* ========== Projects page section starts ========== */

.header__projects {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.593) 40%, rgba(0, 0, 0, 0.56) 70%), url(../images/projects-bg.jpg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: bottom;
  position: relative;
}

.projects__section {
  margin: 5rem auto;
}

#searchInput {
  width: 30rem;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.projects__container {
  overflow-x: auto;
}

.projects__section h3 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 3rem;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  text-align: left;
  background-color: var(--color-primary);
  color: var(--white-color);
}

.dcf-txt-center {
  text-align: center !important;
}

.dcf-txt-left {
  text-align: left !important;
}

.dcf-txt-right {
  text-align: right !important;
}

.dcf-table caption {
  color: var(--caption);
  font-size: 1.13em;
  font-weight: 700;
  padding-bottom: 0.56rem;
}

.dcf-table thead {
  font-size: 0.84em;
}

.dcf-table tbody {
  border-bottom: 1px solid var(--b-table);
  border-top: 1px solid var(--b-table);
  font-size: 0.84em;
}

.dcf-table tfoot {
  font-size: 0.84em;
}

.dcf-table td,
.dcf-table th {
  padding-right: 1.78em;
}

.dcf-table-bordered,
.dcf-table-bordered td,
.dcf-table-bordered th {
  border: 1px solid var(--b-table);
}

.dcf-table-bordered td,
.dcf-table-bordered th,
.dcf-table-striped td,
.dcf-table-striped th {
  padding-left: 1em;
  padding-right: 1em;
}

.dcf-table-bordered tr:not(:last-child),
.dcf-table-striped tr:not(:last-child) {
  border-bottom: 1px solid var(--b-table);
}

.dcf-table-striped tbody tr:nth-of-type(2n) {
  background-color: var(--bg-table-stripe);
}

.dcf-table thead td,
.dcf-table thead th {
  padding-bottom: 0.75em;
  vertical-align: bottom;
}

.dcf-table tbody td,
.dcf-table tbody th,
.dcf-table tfoot td,
.dcf-table tfoot th {
  padding-top: 0.75em;
  vertical-align: top;
}

.dcf-table tbody td,
.dcf-table tbody th {
  padding-bottom: 0.75em;
}

.dcf-table-bordered thead th {
  padding-top: 1.33em;
}

.dcf-wrapper-table-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-bottom: 1em;
  position: relative;
  right: 50%;
  width: 100vw;
}

@media screen and (max-width: 1024px) {
  #searchInput {
    width: 100%;
  }
}

@media only screen and (max-width: 42.09em) {
  .dcf-table-responsive thead {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  .dcf-table-responsive tr {
    display: block;
  }
  .dcf-table-responsive td {
    -webkit-column-gap: 3.16vw;
    -moz-column-gap: 3.16vw;
    column-gap: 3.16vw;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left !important;
  }
  .dcf-table-responsive tbody td {
    font-size: 1rem;
  }
  .dcf-table-responsive.dcf-table-bordered,
  .dcf-table-responsive.dcf-table-bordered thead th {
    border-width: 0;
  }
  .dcf-table-responsive.dcf-table-bordered tbody td {
    border-top-width: 0;
  }
  .dcf-table-responsive:not(.dcf-table-bordered) tbody tr {
    padding-bottom: 0.75em;
  }
  .dcf-table-responsive:not(.dcf-table-bordered) tbody td {
    padding-bottom: 0;
  }
  .dcf-table-responsive:not(.dcf-table-bordered):not(.dcf-table-striped) tbody td {
    padding-right: 0;
  }
  .dcf-table-responsive.dcf-table-bordered tbody tr:last-child td:last-child {
    border-bottom-width: 0;
  }
  .dcf-table-responsive tbody td:before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    padding-right: 1.78em;
  }
}

.dcf-overflow-x-auto {
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
}

.dcf-w-100\% {
  width: 100% !important;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  background: var(--color-primary);
  color: white;
  border-radius: 5px;
}

.pagination button:hover {
  background: var(--color-orange);
}

.pagination button.active {
  background: var(--color-orange);
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* ================ Projects Section End ================== */

/* ==== ======== Contact us Section starts =============== */
.header__contact {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.593) 40%, rgba(0, 0, 0, 0.56) 70%), url(../images/contact-bg.jpg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: bottom;
  position: relative;
}

.contact__section {
  margin: 7rem auto;
}

.contact__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.contact__address p {
  margin-bottom: 1rem;
}

.contact__address p i {
  margin-right: 0.5rem;
  color: var(--color-orange);
}

.message {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  display: none;
  border-radius: 5px;
}
.success {
  background-color: #d4edda;
  color: #155724;
}
.error {
  background-color: #f8d7da;
  color: #721c24;
}
.contact__right h3 {
  /* text-align: center; */
  margin-bottom: 20px;
  color: var(--color-primary);
}
label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
.contact__form button {
  width: 100%;
  background: var(--color-primary);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact__form button:hover {
  background: var(--color-orange);
}

/* ============ Contact us section Ends =============== */

/* ======= Media Queries (Medium Devices)====== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    position: relative;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 1.3;
  }
  h2 {
    font-size: 2.5rem;
  }
  header {
    height: 60vh;
  }
  .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    display: none;
  }
  .nav__links li {
    height: 5rem;
    box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
  }
  .nav__links li a {
    background: var(--color-orange);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem 3rem;
    border-top: 1px solid var(--color-bg-2);
  }
  .nav__links li a:hover {
    color: var(--color-primary);
  }
  .nav__links li:nth-child(5) a {
    display: block;
  }
  .nav__action-btn {
    display: none;
  }
  .nav__toggle-btn {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: var(--white-color);
  }
  #nav__toggle-close {
    display: none;
  }

  .nav__links {
    perspective: none;
  }
  /* ============= ANIMATION 2 ================ */
  .nav__links li {
    transform: rotateY(90deg) rotateX(-90deg);
    transform-origin: top right;
    animation: animation2 1s ease forwards;
    opacity: 0;
  }
  .nav__links.closing {
    animation: reverseAnimation2 1s ease forwards;
  }

  .nav__links li:nth-child(2) {
    animation-delay: 300ms;
  }

  .nav__links li:nth-child(3) {
    animation-delay: 600ms;
  }

  .nav__links li:nth-child(4) {
    animation-delay: 900ms;
  }

  .nav__links li:nth-child(5) {
    animation-delay: 1200ms;
  }

  @keyframes animation2 {
    to {
      transform: rotate(0);
      opacity: 1;
    }
  }
  /* Reverse Animation */
  .nav__links.reverse li {
    animation: animation2-reverse 1s ease forwards;
  }

  @keyframes animation2-reverse {
    from {
      transform: rotate(0);
      opacity: 1;
    }
    to {
      transform: rotateY(90deg) rotateX(-90deg);
      opacity: 0;
    }
  }
  .about__content-home {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .services__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .commit__content {
    grid-template-columns: 1fr;
  }
  .int__serve {
    grid-template-columns: repeat(3, 1fr);
  }
  .core__content {
    grid-template-columns: 1fr;
    gap: 5%;
  }
  .associated__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__content-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 65vh;
  }
  .nav__logo {
    width: 8rem;
  }
  .banner__section {
    position: absolute;
    top: 30%;
    left: 50%;
    /* transform: translateY(-50%); */
    transform: translateX(-50%);
    /* max-width: 100%; */
    width: 100%;
  }
  .action__calls {
    display: flex;
    flex-direction: column;
  }
  .services__content {
    grid-template-columns: 1fr;
  }
  .commit__right {
    grid-template-columns: 1fr;
  }
  .commit__ab {
    display: none;
  }
  .int__serve {
    grid-template-columns: 1fr;
  }
  .core__cards {
    grid-template-columns: 1fr;
  }
  .associated__content {
    grid-template-columns: 1fr;
  }
  .footer__content {
    grid-template-columns: 1fr;
  }
  .about-banner__section {
    width: 100%;
  }
  .services__content-2 {
    grid-template-columns: 1fr;
  }
}
